SMS/SMS/Web References/server/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10842/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10842/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10842/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:10842/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMS_WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_sSetDefaultAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:sSetDefaultAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_sSetDefaultAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:sSetDefaultAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sChangeLibrarian_InputMessage">
    <wsdl:part name="parameters" element="tns:sChangeLibrarian" />
  </wsdl:message>
  <wsdl:message name="IService1_sChangeLibrarian_OutputMessage">
    <wsdl:part name="parameters" element="tns:sChangeLibrarianResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sValidAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:sValidAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_sValidAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:sValidAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sAddParent_InputMessage">
    <wsdl:part name="parameters" element="tns:sAddParent" />
  </wsdl:message>
  <wsdl:message name="IService1_sAddParent_OutputMessage">
    <wsdl:part name="parameters" element="tns:sAddParentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sAddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:sAddStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_sAddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:sAddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sValidLibrarian_InputMessage">
    <wsdl:part name="parameters" element="tns:sValidLibrarian" />
  </wsdl:message>
  <wsdl:message name="IService1_sValidLibrarian_OutputMessage">
    <wsdl:part name="parameters" element="tns:sValidLibrarianResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:sViewAllBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:sViewAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewBookByName_InputMessage">
    <wsdl:part name="parameters" element="tns:sViewBookByName" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewBookByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:sViewBookByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewBookByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:sViewBookByAuthor" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewBookByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:sViewBookByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sAddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:sAddBook" />
  </wsdl:message>
  <wsdl:message name="IService1_sAddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:sAddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sRemoveBook_InputMessage">
    <wsdl:part name="parameters" element="tns:sRemoveBook" />
  </wsdl:message>
  <wsdl:message name="IService1_sRemoveBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:sRemoveBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewBookNames_InputMessage">
    <wsdl:part name="parameters" element="tns:sViewBookNames" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewBookNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:sViewBookNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sMarkAttendanceEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:sMarkAttendanceEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_sMarkAttendanceEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:sMarkAttendanceEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewEmployeeNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:sViewEmployeeNumbers" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewEmployeeNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:sViewEmployeeNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewRollNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:sViewRollNumbers" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewRollNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:sViewRollNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewAttendances_InputMessage">
    <wsdl:part name="parameters" element="tns:sViewAttendances" />
  </wsdl:message>
  <wsdl:message name="IService1_sViewAttendances_OutputMessage">
    <wsdl:part name="parameters" element="tns:sViewAttendancesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="sSetDefaultAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sSetDefaultAdmin" message="tns:IService1_sSetDefaultAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sSetDefaultAdminResponse" message="tns:IService1_sSetDefaultAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sChangeLibrarian">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sChangeLibrarian" message="tns:IService1_sChangeLibrarian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sChangeLibrarianResponse" message="tns:IService1_sChangeLibrarian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sValidAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sValidAdmin" message="tns:IService1_sValidAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sValidAdminResponse" message="tns:IService1_sValidAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sAddParent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sAddParent" message="tns:IService1_sAddParent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sAddParentResponse" message="tns:IService1_sAddParent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sAddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sAddStudent" message="tns:IService1_sAddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sAddStudentResponse" message="tns:IService1_sAddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sValidLibrarian">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sValidLibrarian" message="tns:IService1_sValidLibrarian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sValidLibrarianResponse" message="tns:IService1_sValidLibrarian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sViewAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sViewAllBooks" message="tns:IService1_sViewAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sViewAllBooksResponse" message="tns:IService1_sViewAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sViewBookByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sViewBookByName" message="tns:IService1_sViewBookByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sViewBookByNameResponse" message="tns:IService1_sViewBookByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sViewBookByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sViewBookByAuthor" message="tns:IService1_sViewBookByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sViewBookByAuthorResponse" message="tns:IService1_sViewBookByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sAddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sAddBook" message="tns:IService1_sAddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sAddBookResponse" message="tns:IService1_sAddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sRemoveBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sRemoveBook" message="tns:IService1_sRemoveBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sRemoveBookResponse" message="tns:IService1_sRemoveBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sViewBookNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sViewBookNames" message="tns:IService1_sViewBookNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sViewBookNamesResponse" message="tns:IService1_sViewBookNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sMarkAttendanceEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sMarkAttendanceEmployee" message="tns:IService1_sMarkAttendanceEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sMarkAttendanceEmployeeResponse" message="tns:IService1_sMarkAttendanceEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sViewEmployeeNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sViewEmployeeNumbers" message="tns:IService1_sViewEmployeeNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sViewEmployeeNumbersResponse" message="tns:IService1_sViewEmployeeNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sViewRollNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sViewRollNumbers" message="tns:IService1_sViewRollNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sViewRollNumbersResponse" message="tns:IService1_sViewRollNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sViewAttendances">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sViewAttendances" message="tns:IService1_sViewAttendances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sViewAttendancesResponse" message="tns:IService1_sViewAttendances_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sSetDefaultAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/sSetDefaultAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sChangeLibrarian">
      <soap:operation soapAction="http://tempuri.org/IService1/sChangeLibrarian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sValidAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/sValidAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAddParent">
      <soap:operation soapAction="http://tempuri.org/IService1/sAddParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAddStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/sAddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sValidLibrarian">
      <soap:operation soapAction="http://tempuri.org/IService1/sValidLibrarian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sViewAllBooks">
      <soap:operation soapAction="http://tempuri.org/IService1/sViewAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sViewBookByName">
      <soap:operation soapAction="http://tempuri.org/IService1/sViewBookByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sViewBookByAuthor">
      <soap:operation soapAction="http://tempuri.org/IService1/sViewBookByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAddBook">
      <soap:operation soapAction="http://tempuri.org/IService1/sAddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sRemoveBook">
      <soap:operation soapAction="http://tempuri.org/IService1/sRemoveBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sViewBookNames">
      <soap:operation soapAction="http://tempuri.org/IService1/sViewBookNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sMarkAttendanceEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/sMarkAttendanceEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sViewEmployeeNumbers">
      <soap:operation soapAction="http://tempuri.org/IService1/sViewEmployeeNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sViewRollNumbers">
      <soap:operation soapAction="http://tempuri.org/IService1/sViewRollNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sViewAttendances">
      <soap:operation soapAction="http://tempuri.org/IService1/sViewAttendances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:10842/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>